<h1>Add Player</h1>
<form (ngSubmit)="SaveData">
    <div>
        <label for="id">Id</label>
        <input type="text" id="id" name="id" [(ngModel)]="playerdata.id">
    </div>
    <div>
        <label for="teamid">Team Id</label>
        <input type="text" id="teamid" name="teamid" [(ngModel)]="playerdata.teamid">
    </div>
    <div>
        <label for="name">Id</label>
        <input type="text" id="name" name="name" [(ngModel)]="playerdata.name">
    </div>
    <div>
        <label for="age">Id</label>
        <input type="text" id="age" name="age" [(ngModel)]="playerdata.age">
    </div>
    <div>
        <label for="category">Id</label>
        <input type="text" id="category" name="id" [(ngModel)]="playerdata.id">
    </div>
    <div>
        <label for="id">Id</label>
        <input type="text" id="id" name="id" [(ngModel)]="playerdata.id">
    </div>
</form>
