<h1>Players List</h1>
<table class="table">
    <thead>
        <th>ID</th>
        <th>Team ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Category</th>
        <th>Bidding Price</th>
    </thead>
    <tbody>
        <tr *ngFor="let p of playerdata">
            <ul>
                <li><td>{{p.id}}</td></li>
            </ul>
            <ul></ul>
            
            <td>{{p.teamId}}</td>
            <td>{{p.name}}</td>
            <td>{{p.age}}</td>
            <td>{{p.category}}</td>
            <td>{{p.biddingPrice}}</td>    
        </tr>
    </tbody>
</table>
